[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pyinstaller = "*"
mypy = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
rm_build = 'rd build /s /q >NUL 2>&1'
build = 'pipenv run rm_build & pyinstaller src\\main.py --onefile --hidden-import selenium && pipenv run rm_build'
spec = 'pipenv run rm_build & pyinstaller main.spec && pipenv run rm_build'
exe = 'dist\\main.exe'
